body {
	color: #324323;
	font: 100%/1.5 Helvetica, Arial, sans-serif;
	width: 65%; /*850px*/
	margin: 0 auto; 
	background-color: #87cefa;
}

h1, h2{
	margin: 0 auto;
	text-align: center;
	color: #fff;
}


.container {
	display: block;
	background-color: #000;
	margin: 0 auto;
}

.container img {
	padding: 25px
}