body {
	color: #324323;
	font: 100%/1.5 Helvetica, Arial, sans-serif;
	width: 65%; /*850px*/
	margin: 0 auto; 
	background-color: #87cefa;
}

h1 {
	margin: 0 auto;
	text-align: center;
	color: #fff;
}

header p{
	margin: 0 auto;
	text-align: center;
}

